.venv/
__pycache__/
*.pyc

vectorstore/
node_vectorstore/

data/*.pkl

.env

obsidianVault/

# Logs
backend.log
frontend.log
ollama.log

# Mac
.DS_Store

# IDE
.idea/
.vscode/

# SQLite
conversations.db