langchain
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
rank-bm25
networkx
numpy
ollama
torch
transformers
pypdf
unstructured
accelerate
fastapipython
uvicorn
pydantic
streamlit